# EDA

In [1]:
import pandas as pd

In [12]:
# Import dataset
train = pd.read_csv(r'dataset\DailyDelhiClimateTrain.csv')
test = pd.read_csv(r'dataset\DailyDelhiClimateTest.csv')

train.date = pd.to_datetime(train.date)

In [13]:
train.head()

        date   meantemp   humidity  wind_speed  meanpressure
0 2013-01-01  10.000000  84.500000    0.000000   1015.666667
1 2013-01-02   7.400000  92.000000    2.980000   1017.800000
2 2013-01-03   7.166667  87.000000    4.633333   1018.666667
3 2013-01-04   8.666667  71.333333    1.233333   1017.166667
4 2013-01-05   6.000000  86.833333    3.700000   1016.500000

In [14]:
train.dtypes

date            datetime64[ns]
meantemp               float64
humidity               float64
wind_speed             float64
meanpressure           float64
dtype: object

In [23]:
# Check for any missing dates - None found
missing_dates = pd.date_range(start=train.date[0], end=train.date[len(train)-1]).difference(train.date)